# Ignore compiled binaries and libraries
assignments/bin/
assignments/nibs/lib/
assignments/nibs/include/
assignments/nibs/man/
assignments/nibs/nbis/
assignments/nibs/** */

# Ignore system or OS-specific files
__MACOSX/
.DS_Store

# Ignore all data folders (optional, if these are large datasets)
assignments/01_fingerprint_recognition/data/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore other common editor/IDE artifacts
*.log
.vscode/
.idea/

